@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lilita+One&family=Protest+Guerrilla&display=swap');

.Cinzel {
    font-family: "Cinzel", serif;
    font-weight: 200;
    font-style: normal;
  }

  .pointer{
    cursor: pointer;
  }