<h2 class="Cinzel">Modifier Produit</h2>

<div class="container  Cinzel mt-5 mb-5 " *ngIf="product">
    <div class="row d-flex  justify-content-center ">
        <form action="" >

        <div class="col-12 d-flex justify-content-center  mt-3">
            <div>
                <label for="formFileLg" class="form-label">Photos</label>
                <input class="input form-control form-control-lg rounded-0 border-secondary  " (change)="onFileChange($event)"  id="formFileLg" type="file" multiple accept="image/*">
            </div>
        </div>
            
        <div class="col-12 d-flex justify-content-center  mt-4">
            <section class="">
                <div class="input-group">
                    <input class="input " autocomplete="off" [(ngModel)]="product.name" name="name" type="text" required="">
                    <label class="user-label">name</label>
                </div>
            </section>
        </div>
        

        <div class="col-12 d-flex justify-content-center mt-4">
            <section>
                <div class="input-group">
                    <input class="input " autocomplete="off" [(ngModel)]="product.description" name="description"  type="text" required="">
                    <label class="user-label">Description</label>
                </div>
            </section>
        </div>


        <div class="col-12 d-flex justify-content-center  mt-4">
            <section class="">
                <div class="input-group">
                    <input class="input " autocomplete="off"  min="1" [(ngModel)]="product.qte" name="Quantity" type="number" required="">
                    <label class="user-label">Quantity</label>
                </div>
            </section>
        </div>
        
       


        <div class="col-12 d-flex justify-content-center mt-4">
            <section>
                <div class="input-group">
                    <input class="input " autocomplete="off" min="1" [(ngModel)]="product.price" name="price" type="number" required="">
                    <label class="user-label">Price</label>
                </div>
            </section>
        </div>

        <div class="col-12 d-flex justify-content-center  mt-3 px-5 " *ngIf="categories!=undefined">
            <div class="d-flex   flex-column w-50 px-5">
                <label for="formFileLg" class="form-label">Category</label>
                <select name="category " [(ngModel)]="product.category" id="" class="form-select w-100 rounded-0 border-3 focus-ring  focus-ring-dark border-secondary   " >
                    <option *ngFor="let c of categories" [value]="c._id" >{{c.name}}</option>
                </select>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center  mt-3 px-5 " >
            <div class="d-flex   flex-column w-50 px-5">
                <label for="formFileLg" class="form-label">Status</label>
                <select name="status " [(ngModel)]="product.status" id="" class="form-select w-100 rounded-0 border-3 focus-ring  focus-ring-dark border-secondary   " >
                    <option value="1">En stock<option>
                    <option value="0">hors stock<option>
                </select>
            </div>
        </div>

         

        
            
        <div class="col-12 d-flex justify-content-center mt-4">
            <button  class=" col-3 button bgc  border-0 p-3  my-3 mb-4 " (click)="updateProduct()">Modifier</button>
        </div>

  





            

    </form>

        

    </div>
</div>